.entry {
    box-shadow: 0 4px 8px 0 #CBD2D0, 0 6px 20px 0 #CBD2D0;
    margin: 30px;
    padding: 5px;
    text-align: center;
}

.entry-title {
    margin-top: 0;
}

.entry-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}

.entry-details2{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.entry-details p {
    margin: 10px;
}

h2, p {
    color: #0B3C49;
    margin: 0;
}

.expand-entry {
    background-color: #FFFDFD;
    border: 5px solid #731963;
}

@media all and (min-width: 800px) {
    .entry-details{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px;
    }
    
    .expand-entry:hover {
        background-color: #CBD2D0;
    }
}