.App {
  background-color: #FFFDFD;
  color: #0B3C49;
}

button, .dashButton {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #F0E100;
  font-size: 20px;
}

.dashButton {
  color: black;
}

@media all and (min-width: 800px) {
  button:hover, .dashButton:hover {
    background-color: #731963;
    color: #FFFDFD;
  }
}